section
{
  position: relative;
  height: 100vh;
}

/*=========================================================================================*/
/*LANDING PAGE*/

#landing-page
{
  /*display: flex;*/
  position: relative;
  height: 60vh;
  margin: 0;
  padding: 0;
  background: url("images/bg12.jpg");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  /*border: 1px solid black;*/
}

.landing-info
{
  display: inline-block;
  flex: 1;
  height: 100%;
  margin: 0;
  /*border: 1px solid black;*/  
}

.landing-text
{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%,-50%);
  font-size: 2em;
  color: black;
  padding: 10px;
  background-color: rgba(255,255,255,0.5);
  width: 80%;
  height: auto;
  /*border: 1px solid black;*/
}

.landing-text h1
{
  /*display: inline-block;*/
  font-size: 1.5em;
  /*font-weight: bold;*/
  padding: 0;
  margin-bottom: 0;
  text-shadow: 2px 2px darkgrey;
  color: black;
}

.landing-text h4
{
  /*display: inline-block;*/
  font-size: 1.5em;
  /*color: red;*/
  padding: 0;
  color: #c2000c;
  /*font-family: 'Charm', cursive;*/ /*matched merienda*/
  /*font-family: 'Kotta One', serif;*/
  /*font-family: 'Stalemate', cursive;
  font-family: 'Quintessential', cursive;*/

    font-family: 'Tangerine', cursive;
    text-shadow: 2px 2px darkgrey;


    /*font-family: 'Kaushan Script', cursive;*/ /*matches merienda*/

    /*font-family: 'Parisienne', cursive;*/

    /*font-family: 'Satisfy', cursive;*/

    /*font-family: 'Codystar', cursive;*/
}

.arrow1 {
  /*margin-right: 20%;*/
  top: 87%;
  left:50%;
  transform: translateX(-50%);
  position:absolute;
  color: black; 
  text-shadow: 2px 2px darkgrey;
  font-size: 50px; 
  /*cursor: pointer; 
  border-radius:25px;*/
 /* animation: bounce 2s ease infinite;*/
}

.header
{
  width: 60%;
  margin-bottom: 0;
  margin-top: 3%;
}

.header p
{
  font-size: 1.3em;
}

.heading{
  font-size: 2em;
}

.grey
{
  background-color: gainsboro;
}
/*=========================================================================================*/
/*LINES*/

.line1 {
      width: 80%;
      background-color: #c2000c;
      display: block;
      height: 5px;
      margin-top: 5%;
      position: absolute;
}

.line2 {
      width: 5px;
      background-color: black;
      display: block;
      height: 90%;
      margin-left: 5%;
      position: absolute;
}


.line {
      width: 40%;
      background: #c2000c;
      display: block;
      height: 5px;
      margin-top: 20px;
}

.line3 {
      width: 85%;
      background-color: #c2000c;
      display: block;
      height: 5px;
      position: absolute;
      bottom: 5%;
      right: 5%;
}

.line4 {
      width: 5px;
      background-color: black;
      display: block;
      height: 90%;
      position: absolute;
      right: 12%;
      bottom: 0;
}


/*=========================================================================================*/
/*PROJECTS*/

blockquote {
    font-size: 2.5em;
    width: 70%;
    margin-top: 5%;
    position: absolute;
    left: 10%;
    z-index: 1;
  }
  
.flip-card {
  /*background-color: yellow;*/
  position: absolute;
    /*width: 70%;*/
    left: 50%;
    top: 50%;
    transform: translate(-50%,-40%);
    /*filter: grayscale(100%);*/
  width: 60%;
  height: 55%;
  overflow: hidden;
  /*perspective: 1000px;*/

}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  /*background-color: #bbb;*/
  background-color: white;
  color: black;
  /*box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.8);*/
}

.flip-card-back {
  /*background-color: #2980b9;*/
  /*background-color: yellow;*/
  background-color:  #7b7b7b;
  color: white;
  transform: rotateY(180deg);
  overflow: auto;
  /*padding: 5px 15px;*/
  /*line-height: 30%;*/
}


.fc-text{
  margin: 10px;
  padding: 5px 15px;
}

.flip-card a
{
  /*color: white;*/
  text-decoration: none;
}

.flip-card p
{
  /*padding: 1px;*/
  font-size: 1.15em;
}

.doc
{
  position: absolute;
  bottom: 6.5%;
  font-size: 1.2em;
  right: 17%;
}

.doc a
{
  color: #c2020c;
}